@font-face {
  font-family: TTCommons;
  src: url('../src/fonts/TTCommons-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: TTCommons;
  src: url('../src/fonts/TTCommons-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: TTCommons;
  src: url('../src/fonts/TTCommons-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: TTCommons;
  src: url('../src/fonts/TTCommons-SemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: TTCommons;
  src: url('../src/fonts/TTCommons-Bold.ttf');
  font-weight: 700;
}

.font-family-base {
  font-family: TTCommons;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: TTCommons, sans-serif;
}
*:focus {
  outline: none;
}
html {
  
}

body {
  font-family: TTCommons;
  font-size: 30px;
}

ul {
  list-style: none;
}

/* HEADER */
.header {
  padding-left: 58px;
  padding-right: 58px;
}

.header .brand {
  font-weight: 600;
  font-size: 80px;
  height: 80px;
}

.header .basket .basket-counter {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #ff0000;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  font-size: 25px;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.25s ease-in-out;
}
.header .basket:hover .basket-counter,
.header .basket:focus .basket-counter {
  background: #000;
}
.header .basket .basket-counter span {
  position: relative;
  top: 2px;
}

/* MAIN MENU */
.main-menu {
  padding: 0 60px;
}
.main-menu .menu-slider-control {
  bottom: 189px;
}

.menu-slider {

}
.menu-slider .slider-item {
  color: #000;
  text-decoration: none;
}
.menu-slider .slider-item.active {
  
}
.menu-slider .slider-item.active .item-title,
.menu-slider .slider-item:hover .item-title {
  font-weight: bold;
}
.menu-slider .slider-item.active .item-image,
.menu-slider .slider-item:hover .item-image {
  border-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
}
.menu-slider .slider-item .item-title {
  font-size: 44px;
  line-height: 51px;
  font-weight: normal;
  transition: all 0.25s ease;
} 
.menu-slider .slider-item .item-image {
  border: 5px solid transparent;
  border-radius: 50%;
  opacity: 0.6;
  transition: all 0.25s ease-in-out;
}
.menu-slider .slider-item .item-image img {
  width: 371px;
  height: 371px;
  object-fit: cover;
  max-width: 100%;
  height: auto;
}

/* SLIDER CONTROLS */
.menu-slider-control {
  position: absolute;
  transition: all 0.25s ease-in-out;
}
.menu-slider-control.swiper-button-disabled {
  display: none;
}
.menu-slider-control svg g {
  transition: all 0.25s ease-in-out;
}
.menu-slider-control:hover svg g,
.menu-slider-control:focus svg g {
  fill: #ff0000;
}
.menu-slider-control.prev-btn {
  left: 0;
}
.menu-slider-control.next-btn {
  right: 0;
}

/* CATEGORY MENU */
.category-menu {
  padding: 0 58px;
}
.category-menu .menu-slider-control {
  bottom: 25px;
}

.category-slider .swiper-wrapper {
  padding: 0.25rem;
}
.category-slider .slider-item {
  color: #000;
  text-decoration: none;
  font-size: 44px;
  font-weight: normal;
  transition: all 0.25s ease-in-out;
  padding: 9.5px 34.5px;
  border-radius: 42.5px;
  max-width: max-content;
  width: auto;
}
.category-slider .slider-item span {
  position: relative;
  font-weight: normal;
  top: 2px;
}
.category-slider .slider-item.disabled {
  color: #d7d7d7;
}
.category-slider .slider-item.active,
.category-slider .slider-item:hover {
  background: #000;
  color: #fff;
}
.category-slider .slider-item.focus {
  box-shadow: 0 0 0 0.25rem rgba(0,0,0,.25);
}

/* PRODUCT MENU */
.product-menu {
  padding: 0 58px;
}
.product-menu .menu-slider-control {
  top: 50%;
  margin-top: -17.5px;
}

.product-slider {
  visibility: hidden;
}
.product-slider.swiper-initialized {
  visibility: visible;
}
.product-slider .slider-item {
  color: #000;
  text-decoration: none;
  opacity: 0.6;
  transition: all 0.25s ease-in-out;
  width: calc(33.333% - 3rem);
}
.product-slider .slider-item .item-image {
  border: 5px solid transparent;
  border-radius: 70px;
  transition: all 0.25s ease-in-out;
  position: relative;
}

.product-slider .slider-item .item-image img {
  border-radius: 60px;
  height: 380px;
  object-fit: cover;
}

.product-slider .slider-item .item-image .item-price {
  background: #000;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  padding: 6.5px 20px;
  border-radius: 30px;
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.product-slider .slider-item .item-image .item-price span {
  position: relative;
  top: 1px;
}

.product-slider .slider-item .item-title {
  font-size: 40px;
  font-weight: normal;
  padding: 0 13px;
  line-height: 1.2;
  color: #000;
  height: 40px;
}
.product-slider .slider-item .item-description {
  font-size: 30px;
  font-weight: normal;
  padding: 0 13px;
  line-height: 1.2;
  height: 70px;
  overflow: hidden;
}

.product-slider .slider-item.disabled .item-title,
.product-slider .slider-item.disabled .item-description {
  color: #d7d7d7;
}
.product-slider .slider-item.disabled .item-image {
  filter: grayscale(1);
}
.product-slider .slider-item.disabled .item-image .item-price {
  opacity: 0.4;
  transition: all 0.25s ease-in-out;
}
.product-slider .slider-item.active,
.product-slider .slider-item:hover {
  opacity: 1;
}
.product-slider .slider-item.active .item-image,
.product-slider .slider-item:hover .item-image {
  border-color: #000;
  filter: grayscale(0);
}
.product-slider .slider-item.active .item-image .item-price,
.product-slider .slider-item:hover .item-image .item-price {
  opacity: 1;
}
.product-slider .slider-item.active .item-title,
.product-slider .slider-item:hover .item-title {
  font-weight: bold;
  color: #000;
}
.product-slider .slider-item.active .item-description,
.product-slider .slider-item:hover .item-description {
  font-weight: 600;
  color: #000;
}

/* SINGLE PRODUCT */
.single-product {
  padding: 0 58px;
}
.product-preview-slider {
  border: 5px solid transparent;
  border-radius: 70px;
  transition: all 0.25s ease-in-out;
  position: relative;
}
.product-preview-slider.active {
  border-color: #000;
}
.product-preview-slider .slider-item {

}
.product-preview-slider .slider-item img {
  border-radius: 60px;
  object-fit: cover;
  /* height: 627px!important; */
}
.product-preview-slider .item-price {
  background: #000;
  color: #fff;
  font-size: 44px;
  font-weight: bold;
  padding: 10.5px 30px;
  border-radius: 45px;
  position: absolute;
  z-index: 10;
  bottom: 30px;
  right: 30px;
}
.product-preview-slider .swiper-pagination {
  position: absolute;
  z-index: 10;
  top: 40px !important;
  bottom: auto !important;
}
.swiper-pagination .swiper-pagination-bullet {
  border: 5px solid #fff;
  width: 30px;
  height: 30px;
  background: #fff;
  opacity: 1;
  margin: 0 6px!important;
  position: relative;
}
.swiper-pagination .swiper-pagination-bullet:before {
  content: '';
  width: 34px;
  height: 34px;
  border: 1px solid #000;
  border-radius: 50%;
  position: absolute;
  left: -7px;
  top: -7px;
  background: #000;
  z-index: -1;
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #000;
}

.product-preview-slider .item-price span {
  position: relative;
  top: 1px;
}
.product-description {
  padding-left: 5px;
}
.product-description::-webkit-scrollbar {
  width: 18px;
  border-radius: 9px;
  background-color: #c7c7c7;
}

.product-description::-webkit-scrollbar-thumb {
  border-radius: 9px;
  background-color: #000;
}

.product-description .product-title {
  font-size: 42px;
  font-weight: 600;
  border-bottom: 5px solid #000;
  line-height: 1.2;
}
.product-options-list {

}
.product-options-list .option-item {

}
.product-options-list .option-item .option-head  {
  
}
.option-item .option-label {
  font-size: 42px;
  line-height: 1.2;
  font-weight: normal;
}
.option-item .option-badge {
  font-size: 36px;
  font-weight: 500;
  color: #fff;
  background: #808080;
  padding: 4px 26px;
  border-radius: 26px;
  line-height: 1.2;
}
.option-item .option-badge > span {
  position: relative;
  top: 4px;
}
.option-item .form-control {
  border: 2px solid #000;
  font-size: 42px;
  border-radius: 40px;
  padding-left: 30px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 2px;
}
.option-item .form-control:focus {
  box-shadow: 0 0 0 0.25rem rgba(0,0,0,.25);
  border-color: #000;
}
.option-item .form-group .calendar-icon {
  position: absolute;
  top: 25px;
  right: 30px;
}
.option-variant-list > li {
  
}
.option-variant-list > li:not(:last-child) {
  border-bottom: 2px solid #000;  
}
.option-variant-list > li .form-check {
  
}
.option-variant-list > li .form-check-input {
  width: 38px;
  height: 38px;
  border: 4px solid #000;
  border-radius: 50%;
  /* margin-top: 0; */
}
.option-variant-list > li .form-check-input:checked {
  background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}
.option-variant-list > li .form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgba(0,0,0,.25);
}
.option-variant-list > li .form-check-label {
  font-size: 42px;
  line-height: 1.2;
  font-weight: normal;
  position: relative;
  top: 3px;
}
.option-variant-list > li .form-check-label > span {
  font-weight: normal;
}
.option-variant-list > li .form-check-label .label-description {
  font-size: 32px;
  color: #808080;
  font-weight: normal;
}
.option-variant-list > li .variant-price {
  font-size: 42px;
  line-height: 1.2;
  font-weight: normal;
  position: relative;
  top: 4px;
}

.timesheet-list {

}
.timesheet-list li {
  
}
.timesheet-list .timesheet-label {
  font-size: 42px;
  font-weight: normal;
}
.radio-option-list {

}
.radio-option-list li {
  position: relative;
}
.radio-option-list li .btn-check:focus + .btn {
  box-shadow: 0 0 0 0.25rem rgba(0,0,0,.25);
}
.radio-option-list li .btn {
  font-size: 42px;
  font-weight: normal;
  padding: 0px 13px;
}
.radio-option-list li .btn span {
  position: relative;
  font-weight: normal;
  top: 3px;
}

/* FOOTER */
.footer {
  padding-left: 58px;
  padding-right: 58px;
}
.footer .back-btn {

}
.footer .back-btn svg g {
  transition: all 0.25s ease-in-out;
}
.footer .back-btn:hover svg g,
.footer .back-btn:focus svg g {
  fill: #ff0000;
}
.footer .add-to-cart-btn,
.footer .checkout-btn {
  font-size: 44px;
  font-weight: bold;
  height: 81px;
  line-height: 81px;
  padding: 0 40px;
}
.footer .add-to-cart-btn span,
.footer .checkout-btn span {
  white-space: nowrap;
  position: relative;
  top: 2px;
}

.amount-counter {

}
.amount-counter .btn {
  font-size: 78px;
  height: 81px;
  width: 81px;
  padding: 0;
  line-height: 81px;
}
.amount-counter .btn:focus,
.footer .add-to-cart-btn:focus,
.footer .checkout-btn:focus {
  background: #ff0000;
  border: none;
  box-shadow: none;
}
.amount-counter .btn.active,
.footer .add-to-cart-btn.active,
.footer .checkout-btn.active {
  box-shadow: 0 0 0 0.25rem rgba(0,0,0,.25);
  border: none;
}
.amount-counter .btn span {
  line-height: 81px;
  position: relative;
}
.amount-counter .counter-value {
  height: 81px;
  border: none;
  font-size: 65px;
  font-weight: 500;
  text-align: center;
  color: #000;
  background: #dedede;
  border-radius: 40.5px!important;
  width: 124px;
  line-height: 81px;
}
.amount-counter .counter-value span {
  position: relative;
  top: 2px;
}
.amount-counter .form-control:focus {
  box-shadow: none;
  outline: none;
}

/* PRODUCT MODAL */
#productModal .modal-dialog {
  max-width: 1070px;
}
#productModal .modal-content {
  border-radius: 100px;
  overflow: hidden;
  box-shadow: 0 0 40px 0 rgba(0,0,0,0.5);
}
#productModal .product-modal-slider .swiper-pagination {
  position: absolute;
  z-index: 10;
  top: 40px !important;
  bottom: auto !important;
}
#productModal .back-btn {
  position: absolute;
  bottom: 40px;
  right: 40px;
  opacity: 0.44;
  transition: all 0.25s ease-in-out;
  z-index: 10;
  border: none;
}
#productModal .back-btn:hover,
#productModal .back-btn:focus {
  opacity: 1;
}

/* DATEPICKER MODAL */
#datepickerModal .modal-dialog,
#timepickerModal .modal-dialog {
  max-width: max-content;
}
#datepickerModal .modal-content,
#timepickerModal .modal-content {
  box-shadow: 0 0 40px 0 rgba(0,0,0,0.5);
}
#datepickerModal .air-datepicker,
#timepickerModal .air-datepicker {
  --adp-font-family: TTCommons, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --adp-font-size: 42px;
  --adp-width: 500px;
  --adp-z-index: 100;
  --adp-padding: 20px;
  --adp-grid-areas: "nav" "body" "timepicker" "buttons";
  --adp-transition-duration: .3s;
  --adp-transition-ease: ease-out;
  --adp-transition-offset: 8px;
  --adp-background-color: #fff;
  --adp-background-color-hover: #f0f0f0;
  --adp-background-color-active: #eaeaea;
  --adp-background-color-in-range: rgba(92, 196, 239, .1);
  --adp-background-color-in-range-focused: rgba(92, 196, 239, .2);
  --adp-background-color-selected-other-month-focused: #8ad5f4;
  --adp-background-color-selected-other-month: #a2ddf6;
  --adp-color: #4a4a4a;
  --adp-color-secondary: #9c9c9c;
  --adp-accent-color: #4eb5e6;
  --adp-color-current-date: #000;
  --adp-color-other-month: #dedede;
  --adp-color-disabled: #aeaeae;
  --adp-color-disabled-in-range: #939393;
  --adp-color-other-month-hover: #c5c5c5;
  --adp-border-color: #dbdbdb;
  --adp-border-color-inner: #efefef;
  --adp-border-radius: 4px;
  --adp-border-color-inline: #d7d7d7;
  --adp-nav-height: 32px;
  --adp-nav-arrow-color: var(--adp-color-secondary);
  --adp-nav-action-size: 32px;
  --adp-nav-color-secondary: var(--adp-color-secondary);
  --adp-day-name-color: #ff0000;
  --adp-day-name-color-hover: #8ad5f4;
  --adp-day-cell-width: 1fr;
  --adp-day-cell-height: 65px;
  --adp-month-cell-height: 30px;
  --adp-year-cell-height: 46px;
  --adp-pointer-size: 10px;
  --adp-poiner-border-radius: 2px;
  --adp-pointer-offset: 14px;
  --adp-cell-border-radius: 50%;
  --adp-cell-background-color-hover: var(--adp-background-color-hover);
  --adp-cell-background-color-selected: #000;
  --adp-cell-background-color-selected-hover: #45bced;
  --adp-cell-background-color-in-range: rgba(92, 196, 239, 0.1);
  --adp-cell-background-color-in-range-hover: rgba(92, 196, 239, 0.2);
  --adp-cell-border-color-in-range: var(--adp-cell-background-color-selected);
  --adp-btn-height: 60px;
  --adp-btn-color: #000;
  --adp-btn-color-hover: #000;
  --adp-btn-border-radius: var(--adp-border-radius);
  --adp-btn-background-color-hover: var(--adp-background-color-hover);
  --adp-btn-background-color-active: var(--adp-background-color-active);
  --adp-time-track-height: 1px;
  --adp-time-track-color: #dedede;
  --adp-time-track-color-hover: #b1b1b1;
  --adp-time-thumb-size: 12px;
  --adp-time-padding-inner: 10px;
  --adp-time-day-period-color: #000;
  --adp-mobile-font-size: 16px;
  --adp-mobile-nav-height: 40px;
  --adp-mobile-width: 320px;
  --adp-mobile-day-cell-height: 38px;
  --adp-mobile-month-cell-height: 48px;
  --adp-mobile-year-cell-height: 64px
}
#datepickerModal .air-datepicker-body--day-names {
  display: flex;
}
#datepickerModal .air-datepicker-body--cells {
  display: flex;
  flex-wrap: wrap;
}
#datepickerModal .air-datepicker-cell {
  flex-grow: 1;
  width: 14.28%;
}

#timepickerModal .air-datepicker-time--current-hours, 
#timepickerModal .air-datepicker-time--current-minutes,
#timepickerModal .air-datepicker-time--current {
  font-size: 32px;
}

#timepickerModal .air-datepicker--buttons {
  padding: 0;
  display: flex;
  flex-direction: column;
  font-size: 24px;
}

#timepickerModal .-only-timepicker- .air-datepicker-time {
  display: flex;
  flex-direction: column;
}

#timepickerModal .air-datepicker-time--sliders {
  margin-top: 1rem;
  width: 100%;
}

.modal-backdrop {
  background-color: #fff!important;
  opacity: 0.7!important;
}

.cart-section {
  padding-left: 58px;
  padding-right: 58px;
}

.cart-list {

}

.cart-list {
  /* padding-left: 5px; */
  padding-right: 100px;
}
.cart-list::-webkit-scrollbar {
  width: 18px;
  border-radius: 9px;
  background-color: #c7c7c7;
}

.cart-list::-webkit-scrollbar-thumb {
  border-radius: 9px;
  background-color: #000;
}

.cart-list .cart-item {
  border-bottom: 3px solid transparent;
  transition: all 0.25s ease-in-out;
}

.cart-list .cart-item.active {
  border-color: #000;
}

.cart-item .item-title {
  font-size: 50px;
  line-height: 1.2;
  font-weight: 500;
}

.cart-item .item-meta {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 400;
}

.cart-item .item-total {
  font-size: 50px;
  line-height: 1.2;
  font-weight: 600;
}

.cart-section .cart-total {
  font-size: 50px;
  line-height: 1.2;
  padding-right: 118px;
}

.fw-600 {
  font-weight: 600;
}